# Brazilian cities to travel

<b> Goal: </b> This portfolio project showcases our expertise in data analysis through an in-depth examination of Brazilian cities identified by the Brazilian Ministry of Tourism as key destinations in their public policy plan (Mapa do Turismo/Tourism Map)

In [ ]:
## adicionar índice [[indice]]

### 1. Descriptive Analysis

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1.1 Categories

In [52]:
df = pd.read_excel(r"data\relatorio_categorizacao_2019-portal.xls")

df.head()

,MACRO,UF,REGIAO_TURISTICA,MUNICIPIO,COD_IBGE,QUANTIDADE_EMPREGOS,QUANTIDADE_ ESTABELECIMENTOS,QUANTIDADE_VISITAS_ESTIMADAS_ INTERNACIONAL,QUANTIDADE_VISITAS_ESTIMADAS_ NACIONAL,ARRECADACAO,CLUSTER
0,Centro-Oeste,MT,Região Turística Portal do Agronegócio,Nova Mutum,5106224,89,14,0,15309,708887,C
1,Nordeste,MA,Polo Lagos e Campos Floridos,Cajapió,2102408,0,0,0,1376,0,D
2,Sudeste,MG,Caminhos da Mantiqueira,Brazópolis,3108909,6,3,0,25587,0,D
3,Sudeste,MG,Ouro,Caeté,3110004,310,11,0,23757,4944942,B
4,Sudeste,MG,Pedras Preciosas,Catuji,3115458,0,0,149,0,0,D

In [5]:
#showcasing data types and non-null cells in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2694 entries, 0 to 2693
Data columns (total 11 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   MACRO                                        2694 non-null   object
 1   UF                                           2694 non-null   object
 2   REGIAO_TURISTICA                             2694 non-null   object
 3   MUNICIPIO                                    2694 non-null   object
 4   COD_IBGE                                     2694 non-null   int64
 5   QUANTIDADE_EMPREGOS                          2694 non-null   int64
 6   QUANTIDADE_ ESTABELECIMENTOS                 2694 non-null   int64
 7   QUANTIDADE_VISITAS_ESTIMADAS_ INTERNACIONAL  2694 non-null   int64
 8   QUANTIDADE_VISITAS_ESTIMADAS_ NACIONAL       2694 non-null   int64
 9   ARRECADACAO                                  2694 non-null   int64
 10  CLUSTER                                      2694 non-null   object
dtypes: int64(6), object(5)
memory usage: 231.6+ KB

In [72]:
#distribution of uf (States) in the 2019 dataset

#creating the pivot_table in which the pie chart will be based on
df_count_uf = pd.pivot_table(data = df,
                             values = 'MUNICIPIO',
                             index = 'UF',
                             aggfunc='count').sort_values(by='MUNICIPIO',ascending=False).reset_index()

df_count_uf['% MUNICIPIO TURISMO'] = round((df_count_uf['MUNICIPIO']/df_count_uf['MUNICIPIO'].sum())*100,1)
df_count_uf

    UF  MUNICIPIO  % MUNICIPIO TURISMO
0   MG        471                 17.5
1   SP        354                 13.1
2   RS        345                 12.8
3   PR        217                  8.1
4   SC        177                  6.6
5   BA        133                  4.9
6   MT         85                  3.2
7   RJ         83                  3.1
8   RN         79                  2.9
9   GO         79                  2.9
10  PE         76                  2.8
11  CE         68                  2.5
12  PB         68                  2.5
13  MA         54                  2.0
14  ES         54                  2.0
15  PA         53                  2.0
16  AL         50                  1.9
17  TO         49                  1.8
18  SE         46                  1.7
19  MS         42                  1.6
20  PI         30                  1.1
21  RO         25                  0.9
22  AM         24                  0.9
23  AC         13                  0.5
24  AP         10                  0.4
25  RR          8                  0.3
26  DF          1                  0.0

In [69]:
df_munic = pd.read_excel(r"data\RELATORIO_DTB_BRASIL_MUNICIPIO.xls", header = 6)

df_munic.head()

,Cod_UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,MUNICIPIO,UF
0,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,RO
1,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,RO
2,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,RO
3,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,RO
4,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,RO

In [73]:
#making a pivot table of the total cities in Brazil 
#in order to compare the distribution of the total turist cities 

df_count_munic_total = pd.pivot_table(data = df_munic,
                             values = 'MUNICIPIO',
                             index = 'UF',
                             aggfunc='count').sort_values(by='MUNICIPIO',ascending=False).reset_index()

df_count_munic_total['% MUNICIPIO TOTAL'] = round((df_count_munic_total['MUNICIPIO']/df_count_munic_total['MUNICIPIO'].sum())*100,1)

#merging the first pivot table and the total
df_compare = pd.merge(df_count_uf[['UF','% MUNICIPIO TURISMO']],
                     df_count_munic_total[['UF','% MUNICIPIO TOTAL']], 
                     how = "outer", 
                     on='UF')

### making a graph

    UF  % MUNICIPIO TURISMO  % MUNICIPIO TOTAL
0   MG                 17.5               15.3
1   SP                 13.1               11.6
2   RS                 12.8                8.9
3   PR                  8.1                7.2
4   SC                  6.6                5.3
5   BA                  4.9                7.5
6   MT                  3.2                2.5
7   RJ                  3.1                1.7
8   RN                  2.9                3.0
9   GO                  2.9                4.4
10  PE                  2.8                3.3
11  CE                  2.5                3.3
12  PB                  2.5                4.0
13  MA                  2.0                3.9
14  ES                  2.0                1.4
15  PA                  2.0                2.6
16  AL                  1.9                1.8
17  TO                  1.8                2.5
18  SE                  1.7                1.3
19  MS                  1.6                1.4
20  PI                  1.1                4.0
21  RO                  0.9                0.9
22  AM                  0.9                1.1
23  AC                  0.5                0.4
24  AP                  0.4                0.3
25  RR                  0.3                0.3
26  DF                  0.0                0.0

In [ ]:
## pie chart: distribuição por estado
## stacked bar chart: distribuição de cluster por estado

In [6]:
#seeing most numbers
df.describe()

,COD_IBGE,QUANTIDADE_EMPREGOS,QUANTIDADE_ ESTABELECIMENTOS,QUANTIDADE_VISITAS_ESTIMADAS_ INTERNACIONAL,QUANTIDADE_VISITAS_ESTIMADAS_ NACIONAL,ARRECADACAO
count,2.694000e+03,2694.000000,2694.000000,2.694000e+03,2.694000e+03,2.694000e+03
mean,3.405169e+06,93.380475,7.516333,3.850519e+03,6.383554e+04,1.238121e+06
std,9.310852e+05,555.239839,26.203060,4.667117e+04,3.930170e+05,1.310179e+07
min,1.100015e+06,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.905852e+06,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.302650e+06,6.000000,2.000000,3.800000e+01,5.376500e+03,0.000000e+00
75%,4.205982e+06,35.000000,6.000000,3.730000e+02,2.789175e+04,0.000000e+00
max,5.300108e+06,17946.000000,785.000000,1.651696e+06,1.347863e+07,4.733092e+08

[[ANÁLISE SOBRE:
- 25%-50% de demanda internacional e nacional é zero ((fazer boxplots))
- a distância de mediana e mean em todas as métricas
- entender o perfil de cada categoria/classe
- entender a distribuição de 0 -- provavelmente todos os null foram convertidos em 0]]

In [ ]:
##boxplot de todas as métricas
## count 0 (possi)

## 1.2 Histórico

avaliar quais métricas conseguem ser cruzadas com o histórico 2016 e 2017.